@{
    ViewData["Title"] = "Admin Panel";
}

    <div class="admin container">
        <h1>Admin Panel</h1>
        <h2>Current News Posts</h2>
        <table class="admin news__admin">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>News Post Author</th>
                    <th>News Post Date</th>
                    <th>News Post Title</th>
                    <th>News Post Body Text</th>
                    <th>News Post Image</th>
                    <th>News Post Tag</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h2>Add new blog post</h2>
        <form enctype="multipart/form-data" class="admin news__admin">

            <ul>
                <li id="li_2">
                    <label class="description" for="newsTitle">News Post Title</label>
                        <input id="newsTitle" name="newsTitle" type="text" maxlength="255" value="" required />
                </li>
                <li id="li_3">
                    <label class="description" for="newsText">News Post Body Text</label>
                        <textarea id="newsText" name="newsText" required></textarea>
                </li>
                <li id="li_4">
                    <label class="description" for="newsPhoto">Upload Photo</label>
                        <input id="newsPhoto" name="newsPhoto" class="element file" type="file" />
                </li>
                <li id="li_5">
                    <label class="description" for="newsTag" required >News Tag</label>

                    <select name="newsTag" required>
                        <option>Please Select</option>
                        <option value="events">Events</option>
                        <option value="uncategorised">Uncategorised</option>
                        <option value="challenges">Challenges</option>
                        <option value="announcements">Announcements</option>
                        <option value = "partnerships" >Partnerships</option>
                        <option value="interviews">Interviews</option>
                        <option value = "jobs">Jobs</option>
                        <option value="ideas">ideas</option>
                    </select>
                </li>

                <li class="buttons">
                    <input type="hidden" id="newsPostId" name="id" />
                    <button type="submit" id="newsPostSaveButton">Save</button>
                    <button id="newsPostClearButton">Clear</button>
                </li>
            </ul>
        </form>
    </div>

@section scripts {
    <script src="~/js/pages/admin.js"></script>
}
