@{
    ViewData["Title"] = "News";
}

@section scripts{
    <script src="~/js/pages/lightbox-plus-jquery.min.js"></script>
}

<!-- Gallery -->
<div class="gallery-main">
    <h1 class="img-h1">
        <img src="~/images/imageIcon.png" alt="gallery image" />Gallery
    </h1>
    <div class="gallery">
        <a href="~/images/gallery/1.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/1.jpg" alt="" />
        </a>
        <a href="~/images/gallery/2.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/2.jpg" alt="" />
        </a>
        <a href="~/images/gallery/3.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/3.jpg" alt="" />
        </a>
        <a href="~/images/gallery/4.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/4.jpg" alt="" />
        </a>
        <a href="~/images/gallery/5.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/5.jpg" alt="" />
        </a>
        <a href="~/images/gallery/6.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/6.jpg" alt="" />
        </a>
        <a href="~/images/gallery/7.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/7.jpg" alt="" />
        </a>
        <a href="~/images/gallery/8.jpg" data-lightbox="mygallery">
            <img src="~images/gallery/8.jpg" alt="" />
        </a>
        <a href="~/images/gallery/9.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/9.jpg" alt="" />
        </a>
        <a href="~/images/gallery/10.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/10.jpg" alt="" />
        </a>
        <a href="~/images/gallery/11.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/11.jpg" alt="" />
        </a>
        <a href="~/images/gallery/12.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/12.jpg" alt="" />
        </a>
        <a href="~/images/gallery/13.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/13.jpg" alt="" />
        </a>
        <a href="~/images/gallery/14.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/14.jpg" alt="" />
        </a>
        <a href="~/images/gallery/15.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/15.jpg" alt="" />
        </a>
        <a href="~/images/gallery/16.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/16.jpg" alt="" />
        </a>
        <a href="~/images/gallery/17.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/17.jpg" alt="" />
        </a>
        <a href="~/images/gallery/18.jpg" data-lightbox="mygallery">
            <img src="~/images/gallery/18.jpg" alt="" />
        </a>
    </div>

    <div class="img-h1 three60">
        <a class="a-360"
           href="https://my.matterport.com/show/?m=xLK5WBUQCot&brand=0"
           target="_blank">Click for 360&#176; view</a>
        <iframe height="100%"
                width="100%"
                allowfullscreen="true"
                src="https://my.matterport.com/show/?m=xLK5WBUQCot&brand=0">
        </iframe>
    </div>
</div>