@{
    ViewData["Title"] = "CoWork454";
}

<section class="about">
    <img src="~/images/logo-white.svg" alt="CoWork454 logo" height="100" width="100%">
    <div class="about-content">
        <a class="offer-btn" href="#">
            Limited Time Offer<br> for New Members!<br><br>
            See more
        </a>
        <p>
            CoWork454 is Perth's best coworking space, offering multiple size private offices and open workspaces on Scarborough Beach Road,
            located in Osborne Parks business precinct and close proximity to Scarborough beach.

            <br><br>Our inspiring environment creates a friendly and productive space. In addition to move-in ready offices with flexible terms,
            members are also entitled to free parking!

            <br><br>CoWork454 takes pride in our members-only community. We uniquely blend hospitality and productivity, which is why leading startups
            and small businesses choose CoWork454.
        </p>
    </div>
    <a class="tour-btn" href="#">Take a Tour</a>
</section>
<section class="services">

    <div class="location-col">
        <img class="services-image" src="images/454 Scarborough Beach Rd, Osborne Park/ThumbDrive/cowork454front.jpg" alt="cowork454front" height="250">
        <img class="icon" src="images/icons/location-icon.svg" alt="location icon" height="80">
        <h2>Location</h2>
        <p>
            Located at 454 Scarborough Beach Road. The Hutton Street exit has entry points to the freeway which offer easy access to and from the
            CBD. The property is also well serviced by bus routes directly to and from Stirling train station.

            <br><br>Close proximity to the beach
        </p>
    </div>


    <div class="services-col">
        <img class="services-image" src="images/454 Scarborough Beach Rd, Osborne Park/image_01.jpg" alt="front office" height="250">
        <img class="icon" src="images/icons/services-icon-white.svg" alt="services icon" height="80">
        <h2>Services</h2>
        <ul>
            <li>Reception area</li>
            <li>Staff breakout/lunch area</li>
            <li>Boardroom</li>
            <li>Training Room</li>
            <li>145 Work Stations</li>
            <li>21 Offices</li>
            <li>7 Meeting Rooms</li>
            <li>3 sets of male and female bathrooms</li>
            <li>IT Room</li>
        </ul>
    </div>


    <div class="extras-col">
        <img class="services-image" src="images/454 Scarborough Beach Rd, Osborne Park/image_10.jpg" alt="office desk" height="250">
        <img class="icon" src="images/icons/coin-icon-red.svg" alt="extra's icon" height="80">
        <h2>Extra's</h2>
        <ul>
            <li>Free Car Parking</li>
            <li>Complimentary hand sanitisers</li>
            <li>Daily Cleaning (WA Health Standards)</li>
            <li>Multiple utility area's</li>
            <li>Shower/Lockers available</li>
        </ul>
    </div>

</section>
