@{
    ViewData["Title"] = "News";
}



<div class="news-container">

    </div>


    @section scripts{
        <script type=" text/javascript " src="~/js/pages/news.js " asp-append-version="true"></script>
    }
