
    <header class="header">
        <nav>
            <ul class="nav-links">
                <li><a href="/admin/index" class="hover-border">News</a></li>
                <li><a href="/admin/mailinglist" class="hover-border">Mailing List</a></li>
                <li><a href="/admin/resources" class="hover-border">Resources</a></li>
                <li><a href="/admin/bookings" class="hover-border">Bookings</a></li>
                <li><a href="/admin/users" class="hover-border">Users</a></li>
                <li><a href="/user/logout" class="hover-border">Logout</a></li>
            </ul>
        </nav>
    </header>