<section class="contact-container">

    <div class="contact-content">

        <h1 class="contact-title">CONTACT US</h1>
        <h2 class="htwo">
            Want to book or find out more?
        </h2>

        <h3 class="hthree">Fill out the form below and a member of our team will be in touch!</h3>

        <form class="contactUs">
            <div class="wrapper">
                <div class="contact-form">
                    <div class="input-fields">
                        <input type="text" class="input" id="firstName" placeholder="First Name">
                        <input type="text" class="input" id="lastName" placeholder="Last Name">
                        <input type="text" class="input" id="email" placeholder="Email Address">
                        <input type="text" class="input" id="phoneNumber" placeholder="Phone Number">
                        <input type="text" class="input" id="subject" placeholder="Subject">
                    </div>
                    <div class="msg">
                        <textarea placeholder="Message" id="message"></textarea>
                        <button id="submitBtn">Send</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</section>