<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoWork454</title>
    <link rel="stylesheet" href="~/css/components/header.css" />
    <link rel="stylesheet" href="~/css/components/footer.css" />
    <link rel="stylesheet" href="~/css/components/mailsub.css" />
    <link rel="stylesheet" href="~/css/pages/admin/newsadmin.css" />
</head>
<body>
    <header class="header">
        <!-- Navigation -->
        <nav>
            <div class="logo">
                <img src="~/images/cowork454logoSmall.png" alt="logo" />
            </div>
            <ul class="nav-links">
                <li><a href="#" class="hover-border">Home</a></li>
                <li><a href="#" class="hover-border">About</a></li>
                <li><a href="#" class="hover-border">Blog</a></li>
                <li><a href="#" class="hover-border">Contact</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>



    <div class="footer">
        <div class="footer_menu">
            <div class="col_1">
                <div class="title">
                    <img src="~/images/cowork454_small_transparent.png">
                </div>
            </div>
            <div class="col_2">
                <div class="title">
                    Company
                </div>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col_3">
                <div class="title">
                    Services
                </div>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Specials</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col_4">
                <div class="title">
                    Other
                </div>
                <ul>
                    <li><a href="#">Virtual Tour</a></li>
                    <li><a href="#">Pricing Plans</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Admin Dashboard</a></li>
                </ul>
            </div>
        </div>
        <div class="mail-subscription">
            <form class="mailingList">
                <div class="mail-wrapper">
                    <div class="mail-form">
                        <div class="mail-input">
                            <input type="text" class="input" id="mailFirstName" placeholder="First Name">
                            <input type="text" class="input" id="mailLastName" placeholder="Last Name">
                            <input type="text" class="input" id="subEmail" placeholder="Email Address">
                            <button id="submitBtnMail">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="social_media">
            <ul>
                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <p>Copyright © CoWork454</p>
        </div>
    </div>

    <script type=" text/javascript " src="~/js/pages/mailsub.js "></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
