

.footer {
    background: #231F20;
    padding: 50px;
}

.footer .footer_menu {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}

.footer .footer_menu .title {
    margin-bottom: 10px;
    color: #adadad;
    font-size: 2rem;
}

    .footer .footer_menu ul li a {
        text-decoration: none;
        list-style: none;
        display: block;
        margin-bottom: 6px;
        color: #fff;
        font-size: 2rem;
    }

.footer .footer_menu ul li a:hover {
    text-decoration: underline;
}


    .footer .social_media {
        text-align: center;
    }

.footer .social_media ul {
    list-style: none;
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 15px;
}

    .footer .social_media ul li a {
        color: white;
        text-decoration: none;
        list-style: none;
        margin: 0 5px;
        font-size: 5rem;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

.copyright {
    font-size: 1.5rem;
}




.footer .social_media ul li a.facebook:hover {
    color: lightgrey;
}

.footer .social_media ul li a.twitter:hover {
    color: lightgrey;
}

.footer .social_media ul li a.instagram:hover {
    color: lightgrey;
}

.footer .social_media {
    color: lightgrey;
}

@media (max-width:768px) {
    .wrapper .navbar .logo {
        font-size: 2rem;
    }

    .main_container {
        padding: 25px;
    }

        .main_container .item {
            flex-direction: column;
        }

            .main_container .item .img_holder {
                max-width: 750px;
                width: 100%;
            }

            .main_container .item .item_info {
                margin-left: 0;
                width: 100%;
                margin-top: 10px;
                text-align: center;
            }

    .footer .footer_menu {
        flex-direction: column;
        width: 220px;
        margin: 0 auto 25px;
    }

        .footer .footer_menu > div {
            margin: 10px 0;
        }

    .footer .partners ul li a {
        margin: 5px;
    }
}

/* Mailing List */

.mail-wrapper {
    position: relative;
    top: 50%;
    left: -4px;
    bottom: -142px;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.mail-form {
    display: flex;
    max-width: 300px;
    margin: 0 auto;
    background: #222222;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.mail-input, .header .submitBtnMail {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    font-size: 2rem;
}

.mail-input {
    width: 100%;
}

    .mail-input .input {
        margin: 10px 0;
        background: transparent;
        border: 0px;
        border-bottom: 2px solid white;
        padding: 10px;
        color: white;
        width: 100%;
    }

::-webkit-input-placeholder {
    color: white;
}

::-moz-placeholder {
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

#submitBtnMail {
    background: white;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .mail-form {
        flex-direction: column;
    }

    .mail-input {
        width: 100%;
    }
}
