@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var newsPosts = (List<NewsPost>)ViewData["news"];
}




    <div class="news-post">

    @{ for (var i = 0; i < newsPosts.Count; i++)
        {
            <a class="nchild" href="/News/Details/@newsPosts[i].Id">
                <div class="post">
                    <img src="@newsPosts[i].NewsPhoto" />
                    <h3>@newsPosts[i].NewsTitle</h3>
                    <p>@newsPosts[i].NewsText</p>
                    <h3>Cowork454</h3>
                    <p class="news-date">@newsPosts[i].DateTimePosted.ToString("MMMM dd yyyy")</p>
                </div>
            </a>
        }
    }
    </div>

    




    