@{
    ViewData["Title"] = "Mailing List Admin";
}

<div class="admin container">
    <h1>Subscriber List</h1>
    <table class="admin mail__list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email Address</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody class="subdata"></tbody>
    </table>


</div>

@section scripts {
    <script type=" text/javascript " src="~/js/pages/mailListAdmin.js "></script>
    }