/* --------------------- */
/* The alert message box */
/* ---------------------- */
.alert {
    padding: 0.7rem;
    background-color: #f44336; /* Red */
    color: white;
    /* border: solid 2px blue; */
}

    .alert a {
        text-decoration: none;
        color: white;
        font-size: 3rem;
        text-align: center;
    }
/* The close button */
.closebtn {
    margin: 0.5rem 2rem 0 2rem;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 3rem;
    line-height: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }

/* ------------------ */
/*      ALERT MODAL    */
/* ------------------- */
.alert-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    z-index: 120;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.alert-active {
    visibility: visible;
    opacity: 1;
}

.alert-header {
    background: #f44336;
    padding: 15px;
    color: #fff;
    width: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-size: 3rem;
}

.alert-close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

    .alert-close:hover,
    .alert-close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.alert-modal {
    padding: 0 2rem;
    background-color: white;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

/* ====================================== */
/* Back to top button */
/* ====================================== */
.to-top {
    background: white;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #0b1007;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

    .to-top.active {
        bottom: 32px;
        pointer-events: auto;
        opacity: 1;
    }
/* ---------------- */
/*    VIDEO Style   */
/* ---------------- */
.showcase {
    /* border: solid 2px blue; */
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.video-container {
    position: absolute;
}

.showcase h1 {
    text-align: center;
    font-size: 4rem;
    z-index: 10;
    background: rgb(17, 21, 63, 0.5);
    padding: 0 4rem;
    margin: 1px;
    color: rgb(209, 202, 202);
}

/* ---------------------------- */
/*        About Section         */
/* ---------------------------- */
.about-container {
    background-color: #11153f;
    padding: 40px 0;
}

.about-logo {
    width: 60%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.about-offer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #c1212e;
    display: block;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

    .about-offer p {
        font-size: 2rem;
        position: absolute;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }

.about-text {
    color: white;
    margin: 40px auto;
    text-align: center;
    font-size: 3rem;
    width: 80%;
}

    .about-text p {
        margin: 1rem 0;
    }

.about-button {
    padding: 1rem 5rem;
    background: #c1212e;
    border-radius: 2rem;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 40%;
}

/* ------------------------- */
/*      Special offers Modal */
/* ------------------------- */

.special-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    z-index: 120;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.special-active {
    visibility: visible;
    opacity: 1;
}

.special-header {
    background: #f44336;
    padding: 15px;
    color: #fff;
    width: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-size: 3rem;
}

.special-close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

    .special-close:hover,
    .special-close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.special-modal {
    padding: 0 2rem;
    background-color: white;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

/* -------------------------------- */
/*          Service                 */
/* -------------------------------- */

.services {
    color: white;
    font-size: 20px;
    background-color: #11153f;
    /* height: 90vh; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    line-height: 1.6;
    border-top: white solid;
}

    .services p,
    .services li {
        font-size: 2rem;
    }

    .services h2 {
        font-size: 4rem;
    }

.icon {
    margin: 3rem 0;
}

@media only screen and (min-width: 768px) {
    .services {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.location-col {
    background-color: #11153f;
    height: 100%;
    text-align: center;
}

.services-col {
    background-color: #c1212e;
    height: 100%;
    text-align: center;
    border-left: black solid thin;
}

.extras-col {
    background-color: #231f20;
    height: 100%;
    text-align: center;
    border-left: black solid thin;
}

.services ul {
    list-style: none;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.services-image {
    border-radius: 50%;
    margin-top: 40px;
    max-width: 100%;
    object-fit: cover;
}

/* ---------------- */
/*   Map section    */
/* ---------------- */
.map {
    padding: 0 auto;
    margin: 0.3rem auto 0.3rem auto;
    background: linear-gradient(to right, #11153f, #c1212e);
    clear: both;
}

.map-h2 {
    font-size: 10rem;
    text-align: center;
    color: white;
}

.map-iframe {
    border: none;
    padding-bottom: 4rem;
}

    .map-iframe iframe {
        margin: 0 auto;
        width: 80vw;
        height: 70vh;
        display: block;
        float: none;
        clear: both;
        border-radius: 2rem;
    }

@media screen and (min-width: 768px) {
    .about-container {
        position: relative;
        margin-top: 0.3rem;
    }

    .about-offer {
        position: absolute;
        right: 5%;
        top: 25%;
    }

    .about-text {
        width: 50%;
        margin: 0 0 0 5rem;
        text-align: justify;
    }
}

@media screen and (min-width: 1200px) {
    .about-text {
        width: 45%;
        margin: 0 auto;
        text-align: center;
    }

    .about-offer {
        right: 2%;
    }
}

@media screen and (min-width: 1600px) {
    .about-offer {
        right: 5%;
        top: 20%;
    }
}
